@charset "utf-8";

body {

background-image:url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/DA2E198288BFCA56AB53340211B38DE7134E40E4521EDCAFE6FFB8CD69250DE9/scale?width=2880&aspectRatio=1.78&format=jpeg");
background-size: cover;
}
#container {
    width: 960px;
    margin: 0 auto;
}

#header{
    background-image: url("http://jos.gluweb.nl/lessen/web/blue.png");
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    font-size: 31px;
    line-height: 200px;
}

#footer {
    background-color: hotpink;
}

img {

   width: 960px;
   height: 850px;
   margin: 0 auto;
  

    
}